{% extends 'mechanic/Mechbase.html' %}
<!-- {% block title %}CarService{% endblock title %} -->
{% block body %}

<style>
    form {
        margin: 45px;
    }
</style>
<div class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">

                    <div class="col-sm-12">
                        <h4 class="text-center alert alert-info">Users Request</h4>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <!-- <th scope="col">Id</th> -->
                                    <th scope="col">Service</th>
                                    <th scope="col">User FirstName</th>
                                    <!-- <th scope="col">Last Name</th> -->
                                    <th scope="col">Email</th>
                                    <th scope="col">charge</th>
                                    <th scope="col">Status</th>

                                    <!-- <th scope="col">Active/Deactive</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% if Request %}
                                {% for i in Request %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th scope="row">{{i.Service.service_name}}</th>
                                    <th scope="row">{{i.userId.userId.first_name}}</th>
                                    <td scope="row">{{i.userId.userId.email}}</td>
                                    <td scope="row">{{charge}}</td>
                                    <td scope="row">{{i.Status}}</td>

                                    <!-- <td scope="row">
                                        <a href="{% url 'admin_usermanage' i.userId_id %}"
                                            class="btn btn-warning btn-sm">Edit</a>
                                    </td>
                                    <td scope="row">
                                        <form action="{% url 'admin_user_delete' i.userId_id %}" method="post"
                                            class="d-inline">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                                        </form>
                                    </td> -->
                                </tr>
                                {% endfor %}
                                {% else %}
                                <h4 class="text-center alert alert-warning">No Request Recevie</h4>
                                {% endif %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock body %}