{% extends 'admin/adminbase.html' %}
<!-- {% block title %}CarService{% endblock title %} -->
{% block body %}

<div class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">

                    <div class="col-sm-12">
                        <h4 class="text-center alert alert-info">Request For Service</h4>

                        <table id="dtExample" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Service Name</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if Request %}
                                {% for i in Request %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th scope="row">{{i.userId.userId.first_name}}</th>
                                    <th scope="row">{{i.Service.service_name}}</th>
                                    <td scope="row">{{i.userId.mobile_no}}</td>
                                    <!-- <td>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" name="chk_btn" value="True"
                                                class="custom-control-input" id="customSwitches">
                                            <label class="custom-control-label" for="customSwitches">Service
                                                Active</label>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" name="chk_btn" value="{{i.active}}"
                                                class="custom-control-input" id="customSwitches">

                                        </div>
                                    </td> -->
                                    <td scope="row">
                                        <a href="{% url 'Assign_Mechanic' i.id %}" class="btn btn-warning btn-sm">View
                                            &
                                            Assign</a>
                                    </td>
                                    <!-- <td scope="row">
                                        <form action="" method="post" class="d-inline">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                                        </form>
                                    </td> -->
                                </tr>
                                {% endfor %}
                                {% else %}
                                <h4 class="text-center alert alert-warning">No Records</h4>
                                {% endif %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock body %}